PyMySQL==1.1.0
psycopg2==2.9.9
schema==0.7.5
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
distlib==0.3.7
filelock==3.12.2
idna==3.4
platformdirs==3.10.0
pycparser==2.21
pyOpenSSL==23.2.0
requests==2.31.0
urllib3==1.26.7
virtualenv==20.24.3
tablestore==5.4.4
pytest==7.4.0